
.restauran-name {
  font-family: 'Bebas Neue', cursive;
  padding: 60px;
  text-align: center;
  background: #7E1512;
  color: white;
  font-size: 85px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 230px;
  padding-left: 0px;
  
}

.logo {
  position: absolute; 
  top: 8px;
  height: 238px
  
    
  
  }

  h1 {
    text-align: center;
    box-sizing: border-box;
  }

  .table  {
    color: red;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid;
    
  }

  .h2 {
    font-family: 'Bebas Neue', cursive;
  }
 
  .topnav {
    font-family: 'Bebas Neue', cursive;
    color: blue;
    font-size: 30px;
    
    
  }
 

  .container {
    position: relative;
  }
  
  .text-block {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    position: absolute;
    bottom: 760px;
    right: 0px;
    background-color: #7E1512;
    color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  